{% extends "base.html" %}


{% block content %}
    <div class="login_body">
        <main class="form-signin">
            <h3>Персонаж</h3>
            {% if not current_user.character_id %}
                <div style="padding-top: 10px; padding-bottom: 10px">Кажется, у вас ещё нет Персонажа!
                    <a data-bs-toggle="modal" data-bs-target="#createCharacterModal" href="{{ url_for('char.create_character') }}">
                    Нажми сюда, </a>чтобы создать его.
                    {% include "partials/_create_character.html" %}
                </div>
            {% else %}
                {{ current_user.gender.name }}
                {{ current_user.race.name }}
                {{ current_user.profession.name }}
            {% endif %}
        </main>
    </div>
{% endblock content %}
