<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>Меню:
    {% if current_user %}
        <a href="{{ url_for('todo.index') }}">Home</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('todo.login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('todo.profile') }}">Profile</a>
            {% if current_user.characters %}
                <a href="{{ url_for('todo.character') }}">Character</a>
            {% endif %}
            <a href="{{ url_for('todo.logout') }}">Logout</a>
        {% endif %}
    {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
