<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    {% block style %}
    {% endblock %}

</head>
<body>

    <div style="text-align: center;">
        {% if current_user %}
            <a href="{{ url_for('todo.index') }}">Главная</a>

            {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.login') }}">Войти</a>
            {% else %}
                <a href="{{ url_for('todo.profile') }}">Профиль</a>
                <a href="{{ url_for('todo.card') }}">Карточка</a>

                {% if current_user.characters %}
                    <a href="{{ url_for('todo.character') }}">Персонаж</a>
                {% endif %}

                <a href="{{ url_for('auth.logout') }}">Выйти</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
