<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@2.0/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="w-full font-sans" style="text-align: center;">
        {% if current_user %}
            <a href="{{ url_for('todo.index') }}">Главная</a>

            {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.login') }}">Войти</a>
            {% else %}
                <a href="{{ url_for('todo.profile') }}">Профиль</a>
                <a href="{{ url_for('todo.card') }}">Карточка</a>

                {% if current_user.characters %}
                    <a href="{{ url_for('todo.character') }}">Персонаж</a>
                {% endif %}

                <a href="{{ url_for('auth.logout') }}">Выйти</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">

        {% block content %}
        {% endblock %}

    </div>
</body>
</html>
