{% extends "base.html" %}


{% block content %}

  <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
    <div class="mb-4">
      <h1 class="text-2xl font-bold text-grey-500 text-center">Список дел:</h1>
      <div class="flex mt-4">
        {% include "partials/_form.html" %}
      </div>
    </div>
    <div>
      {% if todo_list %}
        {% for todo in todo_list %}
        <div class="flex mb-4 items-center">
          <p class="w-full text-grey-darkest">
            {% if todo.status == 'complete' %}
            <a class="w-full text-grey-darkest line-through" href="/complete/{{ todo.id }}">
              {{ todo.content }}
            </a>
            {% else %}
            <a class="w-full text-grey-darkest" href="/complete/{{ todo.id }}">
              {{ todo.content}}
            </a>
            {% endif %}
          </p>
          <button >
            <a class="flex-no-shrink p-2 ml-2 border-2 rounded text-blue-400 border-blue-400 hover:text-white hover:bg-blue-400" href="/update/{{ todo.id }}">
              Изменить
            </a>
          </button>
          <button >
            <a class="flex-no-shrink p-2 ml-2 border-2 rounded text-red-500 border-red-500 hover:text-white hover:bg-red-500" href="/delete/{{ todo.id }}">
              Удалить
            </a>
          </button>
        </div>
        {% endfor %}
      {% else %}
        <p class="text-center">Нет задач</p>
      {% endif %}
    </div>
  </div>

{% endblock content %}
