{% extends "base.html" %}

{% block form %}
<div>
  <form action="/add_card" method="post">
    {{ add_card_form.hidden_tag() }}
    {{ add_card_form.todo_card_name(class="form-control") }}
    {{ add_card_form.submit(type="button", class="btn btn-success", size=64) }}
  </form>
</div>
{% endblock %}

{% block content %}
{% if todo_card_list %}
  <div class="ui cards">
    {% for todo_card in todo_card_list %}
      <div class="card">
        <h1>{{ todo_card.name.title() or '---'}}</h1>
          <form action="/add_todo" method="post">
            {{ add_todo.csrf_token }}
            {{ add_todo.todo_content(class="form-control", size=32) }}
            <input type="hidden" name="todo_card_id" value="{{ todo_card.id }}">
            {{ add_todo.submit(type="submit", class="btn btn-success", size=64) }}
          </form>
            {% if todo_card.items %}
              {% for todo in todo_card.items %}
              <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                  {% if todo.status == 'complete' %}
                    <a href="/complete/{{ todo.id }}">
                      {{ todo.content }}
                    </a>
                  {% else %}
                    <a href="/complete/{{ todo.id }}">
                      {{ todo.content}}
                    </a>
                  {% endif %}
                  <a class="btn btn-outline-primary me-md-2" href="/update/{{ todo.id }}">
                    Изменить
                  </a>
                  <a class="btn btn-outline-danger" href="/delete/{{ todo.id }}">
                    Удалить
                  </a>
                </li>
              </ul>
              {% endfor %}
            {% else %}
              <p class="text-center">Нет задач</p>
            {% endif %}
            <a class="btn btn-danger" href="/delete_card/{{ todo_card.id }}">
              Удалить карточку
            </a>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock content %}
